.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  margin: 22px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 16px auto 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 32px auto 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 22px auto 60px;
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-2 {
    padding: 10px 10px 10px 8px;
  }
}